
/*Global Element Styling begins*/
  html{
    scroll-behavior: smooth;
  }

  *{
    font-family: Verdana, sans-serif;
    margin: 0;
    letter-spacing: .02em;
   /* text-align: center;*/
    color: #44545E;
  }

  h1 {
      text-transform: uppercase;
      font-size: 3em;
  }

  h2{
    font-size: 2em;
  }

  h3, p {
    font-size: 1em;
    /*font-weight: bold;*/
  }





  /*Nav bar begins*/
  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 1em;
    min-height: 9vh;
    background-color: #bdd0ef;
    font-family: 'Poppins', sans-serif; /*google font pluggin*/
    /*dev eds styling ends*/
    position: sticky; /*this makes the nav stick to the top of the page*/

 /*   padding: 0em 2em 0em 2em;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    z-index: 100;*/

  }

  .logo{
    color: #f7faff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .nav-links{
    display:flex;
    justify-content: space-around;
    width: 40%; /*this spaces the nav links from one another*/
  }


  .nav-links li{
    list-style: none; /*to remove bullet points on link*/
  }

  .nav-links a{
    color: #f7faff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
  }


  .burger{
    display: none; /*Disables the visibility of the .burger div below*/
    /*cursor: pointer;*/ /*can i replace my pointer with an image?*/
  }

  .burger div {
    width: 25px; /*sets the width of the line*/
    height: 2px; /*sets the height of the line*/
    background-color: #f7faff; /*makes line visible*/
    margin: 7px; /*spaces the line out from one another virtically*/
  }

  /*responsive nav section begins*/

  /*nav link space only*/
  @media screen and (max-width: 1047px) {
  /*the styling below is in affect until the max-width of 1047px is hit */
    .nav-links{
      width: 50%; /*changing the spacing from the .nav-links styling above*/
    }
  }



  /*nav bar phone screen*/
  @media screen and (max-width: 768px) {


    body{
      overflow-x: hidden; /*Without this users would beable to see the
      transform: translateX(100%) content on the right side of the page */
    }


/*the styling below is in affect until the max-width of 768px is exceeded */
    .nav-links{
      background-color: #bdd0ef;
      position: absolute;
        right: 0px;
        height: 91vh; /* full screen hight is 100vh 91vh (here + min-height: 9vh in the nav)this give me the full screen height.*/
        top: 9vh; /*place links below nav bar which has a min height of 9vh*/
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        /*min-width: 180px;*/
        width: 33%; /*makes nave bar take up half the page*/
        transform: translateX(100%); /*This moves the nav bar off the page
        to the right.*/
        transition: transform 0.7s ease-in; /*this shows the nav bar gradually*/
    }

    .nav-links li{
      opacity: 0; /*sets the visibility of the actual links so that the user
      can not see it*/
    }

    .burger{
      display: block; /*the burger will show as long as the max-width of 768px
       is has not been exeeded*/
       position: absolute;
       padding-left: 65%;
       /*right: 115px;*/
      /* right: 46px;*/

    }

/*This is in the media query because we are later going to call it in a
function (on the js file)when the burger is clicked... The only time the burger can
be clicked is when the media query is satisfied */
    .nav-active{
      transform: translateX(0%);/*This moves the nav bar back on the page.*/
    }


  }


/*Building out an animation for the links in the nav(this is called on the Js file)*/
    @keyframes navLinkFade{
      from{
        opacity: 0; /*the links are Not visibile before the burger is clicked*/
        transform: translateX(50px);

      }

      to{
        opacity: 1; /*the links are visibile when burger is clicked*/
        transform: translateX(0px);
      }
    }


    .hline .line1{
      transform: rotate(-90deg) translate(-12px,-9px);
      height: 5px;

    }
    .hline .line2{
      /*opacity: 0;*/
      transform: rotate(180deg) translate(-3px, -3px);
      width: 18px;

    }

    .hline .line3{
      transform: rotate(90deg) translate(-9px,-9px);
      height: 5px;
    }
/*responsive nav section ends*/


/*  nav li{
    display: inline-block;
  }


 do not delete this the submit button needs it
  a {
    text-decoration: none;
    color:#7B98AA;
    font-weight: 500;
    transition: all .5s ease-in-out;
  }

  a:hover {
  color: goldenrod;
  text-decoration: none;
}*/
  /*Nav bar ends*/








/*Global Element Styling ends*/


/*Multiple Element Styling begins*/
/*header,*/ footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0em 2em 0em 2em;
}
/*Multiple Element Styling ends*/


/*Container Element Styling Begins*/



.container{
  background-color: grey;
  display: flex;
  flex-direction: column;
}



/*About specific begins*/
.about, .contact, .projects , .testimonials {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-sub{
  background-color: pink;
}

  .about-sub p {
    max-width: 40em;
  }

.about-sub, .projects-sub, .contact-sub,
.testimonials-sub, .mytestimonies{
  display: flex;
  flex-direction: column;
  min-width: 50em;
  max-width: 55em;
  max-height: 35em;
  align-items: center;
}

.myImage{
  width: 250px;
  height: 250px;
  border-radius: 100%;
 /* align-self: center;*/
}
/*About specific ends*/






/*Projects specific begins*/
.projects{
  background-color: yellow;
}
.projects-sub{
  background-color: #ba4c64;
}
/*Projects specific ends*/









/*Testimonial specific begins*/

.testimonials {
  background-color: navajowhite;
}

/**/
.testimonials-sub{
  background-color: green;
/*  display: flex;
  flex-direction: column;
  min-width: 50em;
  max-height: 35em;
  align-items: center;*/
}

/*flexes the mytestimonies class (section)
so that each of the 3 divs are in on row */
.mytestimonies{
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: space-between;
  padding-bottom: 2em;
  max-width: 40em;
}

/*centers content (images, name, and quotes)
in each of the 3 testimonials */
.mytestimonies div{
  text-align: center;
  min-width: 10px;
  max-height: 30em;

}
/*sets the style and radius of my testimonial images*/
.person{
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin: 2em;


 /* align-self: center;*/
}

/*Testimonial specific ends*/














/*Form specific*/
.contact{
  background-color: #28777a;
}
.contact-sub{
  background-color: orange;
}

.theForm {
    background-color: purple;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}

/* []I need this to flex
to a column when squeezed*/
  .column {
    align-items:center;
    background-color: black;
    display: flex;
    flex-wrap: row;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  input {
    width: 32%;
  }
  textarea{
    text-align: left;
    /*align-self: center;*/
    line-height: 3em;
    width: 100%;
  }

button {
  background-color: yellow;
}




.social-links  i
{
  font-size: 2em;
  height: 2em;
  width: 2em;
}







